@import "tailwindcss";

@theme {
  --font-body: var(--font-geist-mono);
  --font-heading: var(--font-space-grotesk);

  --color-bg: var(--color-taupe-50);
  --color-bg-accent: var(--color-taupe-200);
  --color-text: var(--color-taupe-700);
  --color-text-subtle: var(--color-taupe-500);
  --color-primary: var(--color-purple-500);
  --color-foreground: var(--color-purple-50);
  --color-border: var(--color-taupe-400);
  --color-border-subtle: var(--color-taupe-200);
  --color-error: var(--color-red-500);

  --text-title: 47.78px;
  --text-h1: 39.81px;
  --text-h2: 33.18px;
  --text-h3: 27.65px;
  --text-h4: 23.04px;
  --text-lg: 19.2px;
  --text-body: 16px;
  --text-sm: 13.33px;
}

@layer base {
  .dark {
    --color-bg: var(--color-taupe-950);
    --color-bg-accent: var(--color-taupe-900);
    --color-text: var(--color-taupe-200);
    --color-text-subtle: var(--color-taupe-300);
    --color-primary: var(--color-purple-500);
    --color-foreground: var(--color-purple-50);
    --color-border: var(--color-taupe-500);
    --color-border-subtle: var(--color-taupe-800);
    --color-error: var(--color-red-500);
  }
}

@utility text-action {
  @apply font-heading text-lg uppercase font-bold leading-none;
}

@utility text-base {
  @apply font-body text-text text-body font-normal leading-loose;
}

@utility bg-stripes {
  background-image: repeating-linear-gradient(
    -45deg,
    var(--color-border-subtle),
    var(--color-border-subtle) 2px,
    var(--color-bg) 2px,
    var(--color-bg) 12px
  );
  background-size: 12000px 12000px;
}

@utility bg-noise {
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background-color: var(--color-border);
    mask-image: url("/container-noise.svg");
    mask-repeat: repeat;
    mask-size: 400px 400px;
  }
}

::selection {
  background: var(--color-primary);
  color: var(--color-bg-accent);
}

@utility highlight {
  position: relative;
  display: inline-block;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: -6px;
    right: -6px;
    bottom: 0.05rem;
    height: 60%;
    background-color: color-mix(in srgb, var(--color-primary) 30%, transparent);
    z-index: -1;
    border-radius: 4px 8px 3px 7px;

    transform: scaleX(0) rotate(-1deg);
    transform-origin: left center;
    transition: transform 0.1s ease-out;
  }

  &.active-highlight::before {
    transform: scaleX(1);
  }

  &.hover-highlight:hover::before {
    transform: scaleX(1);
  }
}

html body[data-scroll-locked] {
  --removed-body-scroll-bar-size: 0px;
  overflow-y: auto !important;
  margin-right: 0 !important;
  padding-top: revert-layer;
  padding-right: revert-layer;
  padding-left: revert-layer;
}
